.navbar {
    position:absolute;
    top: 0;
    left:0;
    width:98%;
    background: #007bff; /* Attractive Blue */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 900;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  

  